[Desktop Entry]
Name=Symbols
Comment=Retrieves the Unicode symbol you are describing (e.g. "lambda")
X-KDE-ServiceTypes=Plasma/Runner
Type=Service
Icon=applications-education-language
X-KDE-Library=krunner_symbols
X-KDE-PluginInfo-Author=Dominik Schreiber
X-KDE-PluginInfo-Email=mail@dominikschreiber.de
X-KDE-PluginInfo-Name=symbols
X-KDE-PluginInfo-Version= 0.1
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-Plasma-AdvertiseSingleRunnerQueryMode=true
