[Desktop Entry]
Name=Symbols
Comment=Retrieves the symbol or the text you are describing (e.g. "lambda", "loremipsum")
X-KDE-ServiceTypes=Plasma/Runner
Type=Service
Icon=preferences-desktop-font
X-KDE-Library=krunner_symbols
X-KDE-PluginInfo-Author=Dominik Schreiber
X-KDE-PluginInfo-Email=dev@dominikschreiber.de
X-KDE-PluginInfo-Name=symbols
X-KDE-PluginInfo-Version=1.0.0
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-Plasma-AdvertiseSingleRunnerQueryMode=true
